
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homeassistant:
  packages: !include_dir_named packages

shell_command:
  pihole_login: "bash /config/scripts/pihole_login.sh"
  pihole_enable_dayblock: "bash /config/scripts/pihole_enable_dayblock.sh"
  pihole_disable_dayblock: "bash /config/scripts/pihole_disable_dayblock.sh"

rest_command:
  pihole_enable_dayblock:
    url: "http://10.0.0.162/api/groups/dayBlock"
    method: PUT
    headers:
      X-FTL-CSRF: "{{ states('sensor.pi_hole_csrf') }}"
      X-FTL-SID: "{{ states('sensor.pi_hole_sid') }}"
      Cookie: "sid={{ states('sensor.pi_hole_sid') }}"
      Content-Type: "application/json"
    payload: >
      {
        "name": "dayBlock",
        "enabled": true
      }

  pihole_disable_dayblock:
    url: "http://10.0.0.162/api/groups/dayBlock"
    method: PUT
    headers:
      X-FTL-CSRF: "{{ states('sensor.pi_hole_csrf') }}"
      X-FTL-SID: "{{ states('sensor.pi_hole_sid') }}"
      Cookie: "sid={{ states('sensor.pi_hole_sid') }}"
      Content-Type: "application/json"
    payload: >
      {
        "name": "dayBlock",
        "enabled": false
      }
  pavlok_dynamic_shock:
    url: "https://api.pavlok.com/api/v5/stimulus/send"
    method: POST
    headers:
      Content-Type: application/json
      Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IlRydXN0b2N0b3B1cyIsImlkIjoxMDI3MTgsImVtYWlsIjoianJnaWJ6QGdtYWlsLmNvbSIsImlzX2FwcGxpY2F0aW9uIjpmYWxzZSwiZXhwIjoxNzc2MTk4NTg5LCJzdWIiOiJhY2Nlc3MifQ.Bxw--aN4hcsI8J7MKvveLiArQrkELc3fErzdsMHpdQQ"
    payload: >
      {
        "stimulus": {
          "stimulusType": "zap",
          "stimulusValue": {{ shock_value }}
        }
      }

  pavlok_vibe:
    url: "https://api.pavlok.com/api/v5/stimulus/send"
    method: POST
    headers:
      Content-Type: application/json
      Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IlRydXN0b2N0b3B1cyIsImlkIjoxMDI3MTgsImVtYWlsIjoianJnaWJ6QGdtYWlsLmNvbSIsImlzX2FwcGxpY2F0aW9uIjpmYWxzZSwiZXhwIjoxNzc2MTk4NTg5LCJzdWIiOiJhY2Nlc3MifQ.Bxw--aN4hcsI8J7MKvveLiArQrkELc3fErzdsMHpdQQ"
    payload: >
      {
        "stimulus": {
          "stimulusType": "vibe",
          "stimulusValue": 50
        }
      }

  pavlok_shock:
    url: "https://api.pavlok.com/api/v5/stimulus/send"
    method: POST
    headers:
      Content-Type: application/json
      Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IlRydXN0b2N0b3B1cyIsImlkIjoxMDI3MTgsImVtYWlsIjoianJnaWJ6QGdtYWlsLmNvbSIsImlzX2FwcGxpY2F0aW9uIjpmYWxzZSwiZXhwIjoxNzc2MTk4NTg5LCJzdWIiOiJhY2Nlc3MifQ.Bxw--aN4hcsI8J7MKvveLiArQrkELc3fErzdsMHpdQQ"
    payload: >
      {
        "stimulus": {
          "stimulusType": "zap",
          "stimulusValue": 50
        }
      }
  pavlok_couch:
    url: "https://api.pavlok.com/api/v5/stimulus/send"
    method: POST
    headers:
      Content-Type: application/json
      Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IlRydXN0b2N0b3B1cyIsImlkIjoxMDI3MTgsImVtYWlsIjoianJnaWJ6QGdtYWlsLmNvbSIsImlzX2FwcGxpY2F0aW9uIjpmYWxzZSwiZXhwIjoxNzc2MTk4NTg5LCJzdWIiOiJhY2Nlc3MifQ.Bxw--aN4hcsI8J7MKvveLiArQrkELc3fErzdsMHpdQQ"
    payload: >
      {
        "stimulus": {
          "stimulusType": "zap",
          "stimulusValue": 75,
          "reason": "Still on the couch, pup?"
        }
      }
  pavlok_bed:
    url: "https://api.pavlok.com/api/v5/stimulus/send"
    method: POST
    headers:
      Content-Type: application/json
      Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IlRydXN0b2N0b3B1cyIsImlkIjoxMDI3MTgsImVtYWlsIjoianJnaWJ6QGdtYWlsLmNvbSIsImlzX2FwcGxpY2F0aW9uIjpmYWxzZSwiZXhwIjoxNzc2MTk4NTg5LCJzdWIiOiJhY2Nlc3MifQ.Bxw--aN4hcsI8J7MKvveLiArQrkELc3fErzdsMHpdQQ"
    payload: >
      {
        "stimulus": {
          "stimulusType": "zap",
          "stimulusValue": 75,
          "reason": "Still in the bed, pup?"
        }
      }
      
  projector_profile_default:
    url: "http://jamess-mac-mini.local:3001/api/profile"
    method: POST
    headers:
      Content-Type: application/json
    payload: >
      {
        "profile": "default"
      }
  projector_profile_work:
    url: "http://jamess-mac-mini.local:3001/api/profile"
    method: POST
    headers:
      Content-Type: application/json
    payload: >
      {
        "profile": "work"
      }
  projector_profile_morning:
    url: "http://jamess-mac-mini.local:3001/api/profile"
    method: POST
    headers:
      Content-Type: application/json
    payload: >
      {
        "profile": "morning"
      }
  
  coach_call:
    url: "http://jamess-mac-mini.local:3002/start-call"
    method: POST
    headers:
      Content-Type: application/json
    payload: >
      {
        "to": "+18583866200"
      }
  
  playlister:
    url: "http://jamess-mac-mini.local:8888/api/update-playlists"
    method: POST
    
  habitica_lounge_negative:
    url: "https://habitica.com/api/v3/tasks/82732AB6-1574-4025-89BF-6D622F34FB4D/score/down"
    method: POST
    headers:
      x-api-user: "b4aeee45-d7fd-4985-9bfe-bb9ab8eb12bc"
      x-api-key: "f543f337-2425-46e4-8989-631cb9ad3f9a"
      Content-Type: "application/json"
      
#   request_access_dynamic:
#     url: "http://jamess-mac-mini.local:8001/request_access"
#     method: POST
#     headers:
#       Content-Type: application/json
#     payload: '{"minutes": 30}'
    
#   check_blocked_status:
#     url: "http://jamess-mac-mini.local:8001/status"
#     method: GET
#     headers:
#       Content-Type: application/json
      
    
input_boolean:
  projector_on:
    name: Projector On
    initial: false

template:
  - trigger:
      - platform: mqtt
        topic: "frigate/living_room/couch/person"
    binary_sensor:
      name: "Couch Zone Occupied"
      state: "{{ trigger.payload == '1' }}"
      device_class: occupancy
      delay_off:
        seconds: 5

  - trigger:
      - platform: mqtt
        topic: "frigate/bed_room/bed"
    binary_sensor:
      name: "Bed Zone Occupied"
      state: "{{ trigger.payload == 'ON' }}"
      device_class: occupancy
      delay_off:
        seconds: 5
    
  - sensor:
      - name: "Pi-hole SID"
        state: >
          {% set tokens = states('sensor.file') | default('') | regex_findall('[^,]+') %}
          {{ tokens[0] if tokens|length > 0 else '' }}

      - name: "Pi-hole CSRF"
        state: >
          {% set tokens = states('sensor.file') | default('') | regex_findall('[^,]+') %}
          {{ tokens[1] if tokens|length > 1 else '' }}
          
  - sensor:
      - name: "PS5 Daily Usage"
        unique_id: ps5_daily_usage
        state: >
          {% set start = now().replace(hour=0, minute=0, second=0) %}
          {% set end = now() %}
          {{ states('switch.ps5') == 'on' and ((end - start).total_seconds() / 3600) | round(2) or 0 }}
        unit_of_measurement: "h"
        icon: mdi:timer-outline
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.32.0/24
    - 127.0.0.1

     
  